{% extends 'base.html.twig' %}
{% block title %}{% endblock %}
{% block body %}
<h2>Project</h2>
<h3>Id: {{project.id}}</h3>
<h3>Name: {{project.title}}</h3>
<h3>Creator: {{project.creatorId}}</h3>
<h3>Tickets: </h3>
<h3>Tasks: </h3>
<h3>Bugs: </h3>
<h3>Tickets:</h3>

<table>

<tr>
  <td>id</td>
  <td>title</td>
  <td>Creator</td>
  <td>type</td>
  <td>status</td>
  <td>assigned</td>
  <td>Description</td>
  <td>file</td>
  <td>action</td>
</tr>
{% for ticket in tickets %}
<tr>
  <td>{{ticket.id}}</td>
  <td>{{ticket.title}}</td>
  <td>{{ticket.creatorId}}</td>
  <td>{{ticket.type}}</td>
  <td>{{ticket.status}}</td>
  <td><a href="tickets_all.php?id=<?= $row->assigned?>"/>{{ticket.assigned}}</a></td>
  <td>{{ticket.description}}</td>
  <td><a href="<?= $row->file?>"><img class="imgmini" src="<?= $row->file?>"/></a></td>
  <td>
    <a class="cnopkamini" href="{{path('ticket', {id: ticket.id})}}">Show</a>
    <a class="cnopkamini" href="{{path('ticket_edit', {id: ticket.id})}}">Edit</a>
    <a class="cnopkamini" href="ticket_del.php?id=<?=$id?>">Delete</a></td>
</tr>
{% endfor %}
</table>
<a href="{{path('/ticket/new')}}" class="cnopka">NEW TICKET</a>
{% endblock %}
