{% extends 'base.html.twig' %}
{% block title %}{% endblock %}
{% block body %}
<div class="page_block">
    <h2 class="center">Registration in BUGTRACKING</h2>
{{ form_start(form)}}

<h2 class="tex">{{ form_label(form.username, 'Yor name', {'label_attr': {'class': ''}}) }}
{{ form_widget(form.username, {'attr': {'class': 'big_text'}}) }}</h2>

<h2 class="tex">{{ form_label(form.email, 'Email', {'label_attr': {'class': ''}}) }}
{{ form_widget(form.email, {'attr': {'class': 'big_text'}}) }}</h2>

<h2 class="tex">{{ form_label(form.plainPassword.first, 'Password', {'label_attr': {'class': ''}}) }}
{{ form_widget(form.plainPassword.first, {'attr': {'class': 'big_text'}}) }}</h2>

<h2 class="tex">{{ form_label(form.plainPassword.second, 'Repeat Password', {'label_attr': {'class': ''}}) }}
{{ form_widget(form.plainPassword.second, {'attr': {'class': 'big_text'}}) }}</h2>

<button class="ttt" type="submit">Register!</button>

{{ form_end(form)}}

</div>

{% endblock %}
